@min-app-width: 900px;
@md-app-width: 1024px;
@lg-app-width: @screen-lg;

@static-left-width: 200px;
@static-middle-width: 300px;

@icon-font-path: "../fonts/";
@fa-font-path: "../fonts/";

@text-color: #333333;
@col-bg-color: #60686d;
@panel-bg-color: #e8e8e8;
@left-bg-color: #efefef;
@link-bg-hover: #FFF0CD;
@line-color: #cccccc;