<div class="app-main-middle-1">

	<!--div class="item-list-order btn-group">
		<button type="button" class="btn btn-badged dropdown-toggle" data-toggle="dropdown">
			<span id="dropdown-menu-active">Fecha </span><span class="caret"></span>
		</button>
		<ul id="dropdown-menu" class="dropdown-menu" role="menu">
			<li><a id="dropdown-date-order" href="#" class="active"><i class="fa fa-check"></i>
				<span class="dropdown-menu-text">Fecha</span></a></li>

			<li><a id="dropdown-relevance-order" href="#"><i class="fa fa-check"></i>
				<span class="dropdown-menu-text">Relevancia</span></a></li>

			<li><a id="dropdown-prize-order" href="#"><i class="fa fa-check"></i>
				<span class="dropdown-menu-text">Precio</span></a></li>
		</ul>
	</div-->
</div>

<div class="app-main-middle-2">
	<div class="item-list-date-current">
		<span></span>
	</div>
</div>

<div id="item-list" class="app-main-middle-3">
	<ul class="item-list nav">
		<li ng-repeat="item in vm.items" class="item-list-obj">
			<div ng-if="(vm.items[$index].src_date | date ) != (vm.items[$index-1].src_date | date )" class="item-list-obj-divider">
				<span> {{ item.src_date | date : format : timezone}} </span>
			</div>
			<a ng-click="vm.gotoItemDetails(item.id)">
				<span class="item-list-obj-prize">{{ item.price }}</span>
				<h4 class="item-list-obj-title">{{ item.title }}</h4>

				<div class="ellipsis">
					<p class="item-list-obj-desc">{{ item.body }}</p>
				</div>
			</a>
		</li>
	</ul>

	<p class="text-center">
		<a class="btn btn-default btn-rounded" ng-click="vm.pageDown()">Anterior</a>
		<a class="btn btn-default btn-rounded" ng-click="vm.pageUp()">Siguiente</a>
	</p>
</div>

