<!--div class="app-main-middle-1">
	<div class="item-list-date-current">
		<span></span>
	</div>
</div-->

<div id="item-list-container" class="app-main-middle-2">
	<ul class="item-list nav">
		<li ng-repeat="item in vm.items" class="item-list-obj">
			<div ng-if="(vm.items[$index].src_date | date ) != (vm.items[$index-1].src_date | date )" class="item-list-obj-divider">
				<div class="item-list-obj-divider-el" container="#item-list-container" sticky> {{ item.src_date | date : format : timezone}} </div>
			</div>
			<a ng-click="vm.ItemManager.setCurrentItemId(item.id); vm.gotoItemDetails(item.id)" ng-class="{'active': vm.ItemManager.getCurrentItemId() == item.id}">
				<!--span class="item-list-obj-prize">{{ item.price }}</span-->
				<h4 class="item-list-obj-title">{{ item.title }}</h4>

				<div class="ellipsis">
					<p class="item-list-obj-desc">{{ item.body }}</p>
				</div>
			</a>
		</li>
	</ul>
</div>

<div id="item-list" class="app-main-middle-3">
	<p class="text-center">
		<a class="btn btn-default btn-rounded" ng-class="{'disabled': vm.ItemManager.isFirstPage()}" ng-click="vm.pageDown()">Anterior</a>
		<a class="btn btn-default btn-rounded" ng-class="{'disabled': vm.ItemManager.isLastPage()}" ng-click="vm.pageUp()">Siguiente</a>
	</p>
</div>

<span us-spinner spinner-key="spinner-list" spinner-start-active="true"></span>

