.nav-levels {
  background-color: @panel-bg-color;

  .nav;
  .nav-pills;
  .nav-stacked;

  .nav-levels-1 {
    border-radius: 0;
    border-bottom: 1px dotted #cccccc;

    &.panel-category {
      margin: 0;
      border: 0;
      border-radius: 0;

      a {
        border-radius: 0;
      }

      .panel-category-sub {
        margin: 0;
        padding-left: 5px;
        padding-bottom: 5px;
      }
    }
    
    a {
      color: @text-color;

      .nav-levels-title {
        .text-overflow();
        padding-right: 5px;
        margin: 0;
        font-size: 0.9em;
      }
      .fa {
        float: right;
        color: @text-color;
        font-size: 18px;
        .transition(all 200ms ease;);
      }

      .badge {
        float: right;
        font-size: 0.8em;
        font-weight: lighter;
        margin-right: 5px;
      }
    }

    .nav-levels-2 {

      .nav;
      .nav-pills;
      .nav-stacked;

      li > a {
        font-size: 0.8em;
        padding: 5px 5px 5px 20px;
        .text-overflow();
      }
    }
  }

  .nav-levels-1:last-child {
    border: 0;
  }


  & > .nav-levels-1 > a:hover,
  & > .nav-levels-1 > a:focus,
  & > .nav-levels-1 .nav-levels-2 > li > a:hover,
  & > .nav-levels-1 .nav-levels-2 > li > a:focus {
    background-color: @link-bg-hover;
    border-radius: 0;
  }

  & > li > a.accordion-toggle:not(.collapsed) {
    background-color: #bddfff;
    border-radius: 0;
  }

  & > li > a.accordion-toggle:not(.collapsed) + ul {
    background-color: #e3efff;
  }
}

.accordion-source .panel-heading {
  padding: 0;
  .nav-levels-title {
    margin: 0;
    padding: 10px 15px;
  }
}

accordion {
  a:focus, a:hover {
    text-decoration: none;
  }

  .panel-heading {
    cursor: pointer;
  }

  .force-collapse > .collapse.in {
    display: none!important;
    height: 0px!important;
  }

  .force-collapse > .collapsing {
    -webkit-transition: none!important;
    transition: none!important;
    height: 0px!important;
  }

  .panel-group > .panel.selected > .panel-heading {
    background: #FFF0CD;
  }
}

.subcategory-list-group {
  margin: -15px;
  .list-group-item {
    border: 0;

    &.active, &.active:focus, &.active:hover {
      z-index: 2;
      color: #555;
      background-color: #FFF0CD;
    }

    &:first-child {
      border-top-right-radius: 0;
      border-top-left-radius: 0;
    }
  }
}