<div class="item-details well well-small">
	<h4 class="item-details-title">{{ vm.details.title }}</h4>

	<div class="clearfix">
		<p class="item-details-category">
			<span>{{ vm.details.sourceName }}</span>
			<span ng-if="vm.details.categoryName "> - {{ vm.details.categoryName }}</span>
			<span ng-if="vm.details.subcategoryName "> - {{ vm.details.subcategoryName }}</span>
		</p>
	</div>

	<p class="item-details-body" ng-bind-html="vm.details.body" ng-click="vm.supportExternalLinks($event)"></p>

	<p class="item-details-date">{{ vm.details.last_feed_date | date : format : timezone}}</p>
	<p class="item-details-author"><span translate>Author</span>:<strong>{{ vm.details.author }}</strong></p>
	<a href ng-click="vm.openExternal(vm.details.url)" class="item-details-mail label label-warning" translate>See on Website</a>

</div>